header{
    width: 1440px;
    margin: 0 auto;
    padding: 38px 130px 38px 130px;
    box-shadow: 0px 8px 30px
}
.inline_block{
    display: inline-block;
}
.Headerlogo{
    vertical-align: middle;
}
.headertitle{
    vertical-align: middle;
    padding-left: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
}
nav{
    display: inline-block;
    vertical-align: middle;
    margin-left: 280px;
}
.home{
    font-family: 'Nerko One';
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #6D6D6D;

}
.post{
    margin-left: 55px;
    margin-right: 47px;
    font-family: Nerko One;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #6D6D6D;

}
.newsletter{
    font-family: Nerko One;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #6D6D6D;

}
.HeaderButton{
    width: 153.99px;
    height: 46px;
    margin-left: 200px;
    background-color: #2A9D8F;
    border: none;
}
.HeaderButtonText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}
section{
    width: 1440px;
    margin: 0 auto;
    background-color: #C2F3EE;
    padding: 80px 130px;

}
.sectiontitle{
    width: 480px;
    height: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
}
.sectiontext{
    width: 480px;
    height: 324px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #515151;
}
.sectionimage{
    vertical-align: top;
}
.sectiongroup{
    vertical-align: top;
    margin-left: 90px;
}
.sectionbutton{
    width: 239px;
    height: 40px;
    background-color: #2A9D8F;
    border-style: none;
}
.sectionbuttontext{
    padding: 8px 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
article{
    width: 1440px;
    margin: 0 auto;
    padding: 200px 330px;
}
.articletitle{
    color: #4D4D4D;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}
.articleimage{
    width: 97.5px;
    height: 100.08px;
    vertical-align: top;
}
.articletext{
    width: 640px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    font-family: 'Nerko One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #656565;
    text-align: justify;

}
.articlegroup{
    margin-top: 60px;
}
.articletext2{
    font-family: 'Nerko One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #656565;
    text-align: justify;
    width: 740px;
}